{
    "printWidth": 1000,
    "singleQuote": true,
    "tabWidth": 4,
    "useTabs": false,
    "arrowParens": "avoid",
    "bracketSameLine": true,
    "overrides": [
        {
            "files": "*.java",
            "options": {
                "tabWidth": 4
            }
        },
        {
            "files": ["*.yml", "*.yaml"],
            "options": {
                "tabWidth": 2,
                "singleQuote": false,
                "proseWrap": "preserve"
            }
        }
    ]
}
