<section>
    <div class="container">
        <div class="clock">
            <div>
                <span class="time">{{days}}</span>
                <span class="title">Días</span>
            </div>
            <div>
                <span class="time">{{hours}}</span>
                <span class="title">Horas</span>
            </div>
            <div>
                <span class="time">{{minutes}}</span>
                <span class="title">Minutos</span>
            </div>
            <div>
                <span class="time">{{seconds}}</span>
                <span class="title">Segundos</span>
            </div>
        </div>

        <div class="clock">
            <div>
                <span class="time">{{months}}</span>
                <span class="title">Meses</span>
            </div>
        </div>
    </div>
    <div class="social">
        <a href="https://www.instagram.com/siggio.frodo/" class="instagram" target="_blank"></a>
        <a href="https://github.com/sigifredo" class="github" target="_blank"></a>
    </div>
</section>