@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.clock {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

    .time {
        color: #212529;
        font-size: 4em;
    }
    .title {
        color: #6c757d;
    }
    &> div {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1em 1.3em;
    }
}
.container {
    background-color: white;
    border: 1px solid #dee2e6;
    border-radius: 1em;
    margin: 2em auto;
    min-width: 425px;
    overflow: hidden;
    padding: 1em;
    width: 50%;
}
.social {
    align-items: center;
    display: flex;
    justify-content: center;

    a {
        padding: 1em;
        background-color: #c7c7c7;
        margin: 0 0.5em;
        transition: background-color 0.7s ease;

        &:hover {
            background-color: #000;
        }
    }
    .github {
        mask: url('/assets/github.svg') no-repeat center;
    }
    .instagram {
        mask: url('/assets/instagram.svg') no-repeat center;
    }
}
@media screen and (max-width: 480px) {
    .clock {
        .time {
            font-size: 3em;
        }
    }
    .container {
        min-width: 405px;
    }
}
@media screen and (max-width: 450px) {
    .clock {
        .time {
            font-size: 2em;
        }
    }
    .container {
        min-width: 374px;
    }
}
@media screen and (max-width: 415px) {
    .clock {
        flex-direction: column;
        .time {
            font-size: 4em;
        }
    }
    .container {
        min-width: 115px;
        width: 70%;
    }
}